{% extends 'base.html' %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/FAQ_styles.css' %}">
    <div id="FAQ_title", name"FAQ_title", class="FAQ">
    <h1 class="mt-2">Preguntas Frecuentes</h1>
    <p><hr class="mt-0 md-4" color="black"></hr>
    <b>P: ¿Que tipo de trámites realiza el Estudio?</b>
    <li>R: Jubilaciones pensiones, reajustes, reclamos, reclamos a las ART., amparos por mora, sucesiones, laboral</li>
    <hr class="mt-0 md-4" color="black"></hr>
    <b>P: ¿Cuántos años de edad y servicios son necesarios para poder jubilarse?</b>
    <li>R: La edad y cantidad de servicios cuando los servicios son comunes con de 65 años y 30 de servicios para los hombres y 60 años y 30 de servicios para las mujeres cuando los servicios son del orden nacional (Anses) y de 60 años y 35 de servicios tanto para hombres como para mujeres en la órbita del instituto de previsión de la provincia de Buenos Aires.</li>
    <hr class="mt-0 md-4" color="black"></hr>
    <b>P: ¿Cuánto demora hacer un reajuste de haberes contra Anses?</b>
    <li>R: Con la digitalización se han acelerado los tiempos pero de todos modos desde que se hace el reclamo administrativo hasta que se logra sentencia firme toma en promedio 3 años aproximadamente. Además hay que considerar el tiempo que se toma Anses para liquidar.</li>
    <hr class="mt-0 md-4" color="black"></hr>
    <b>P: ¿Se puede hacer juicio por reajuste de haberes contra Anses si antes ya logré una sentencia en ese sentido?</b>
    <li>R: Si se puede, solo que tendra efecto unicamente desde la anterior sentencia hasta la nueva, no pueden revisarse los períodos viejos, los cuales ya tuvieron una sentencia anterior en virtud del principio de la "cosa juzgada".</li>
    <hr class="mt-0 md-4" color="black"></hr>
    <b>P: ¿Si estoy conviviendo con alguien y el conviviente fallece tengo derecho a la pensión?</b>
    <li>R: Si, la ley ha reconocido derechos al conviviente sobreviviente casi en forma exclusiva a percibir la pensión de el/ella derivada. por supuesto hay que acreditar esa convivencia.</li>
    <hr class="mt-0 md-4" color="black"></hr>
    <b>P: ¿Hasta que edad los hijos tiene. Derecho a la pensión derivada de alguno de sus padres?</b>
    <li>R: Hasta los 18 años en Anses y hasta los 25 en la órbita del instituto de previsión social siempre que acredite que estudian y su carácter es el de "regular".</li>
    <hr class="mt-0 md-4" color="black"></hr>
    <b>P: Si trabaje una parte de mí vida en dependencias cuyos aportes corresponde al instituto de previsión y en otra parte a la Anses ¿En qué caja me jubilo?</b>
    <li>R: Se jubila en la caja donde mayor cantidad de aportes tiene</li>
    <hr class="mt-0 md-4" color="black"></hr>
    <b>P: ¿Cuáles son los requisitos para jubilarse por invalidez?</b>
    <li>R: Para poder tener derecho a RTI es necesario tener cierta cantidad de aportes y el 66 % de incapacidad dada por la junta médica correspondiente y en caso de denegatoria se puede acudir a la justicia en muchos casos.</li>
    <hr class="mt-0 md-4" color="black"></hr>
    </p>
    </div>
{% endblock  %}

    <b>P: ¿</b>
    <li>R: </li>
    <hr class="mt-0 md-4" color="black"></hr>